.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  background-image: url("../../../public/assets/bgmidia20.png");
  background-color: #000000;
  background-repeat: repeat;
  background-size: 100vw;
  background-position: center;
  padding: 2rem 4rem;

  .socialTitle {
    line-height: 4px;
  }
}
