.bible {
  padding: 2rem 2rem;
  width: 100%;
  // background-image: url("../../../public/assets/logo_tema2.png");
  background-color: #000000;
  background-repeat: repeat;
  background-size: contain;
}
